// ion-header {
//     overflow: hidden;
// }
ion-header ion-toolbar {
  --background: var(--ion-color-primary);
  overflow: hidden;
}

$headerHeight: 44px;
.header {
  background: var(--ion-color-primary);
  border-radius: 0px 0px 15px 15px;
  height: 200px;
  // padding-top: 44px;
  color: #fff;

  .title {
    display: flex;
    height: $headerHeight;

    // .menu,
    // .scan {
    //     height: var(--header-height);
    //     width: var(--header-height);
    //     background: url(../../../../assets/imgs/menu.svg) center center no-repeat;
    //     background-size: 18px 18px;
    // }

    .text {
      flex: 1;
      font-size: 17px;
      line-height: $headerHeight;
      text-align: center;
      margin: 0;
    }

    // .scan {
    //     background-image: url(../../../../assets/imgs/scan-white.svg);
    // }
  }

  .info {
    // margin-top: 18px;
    padding: 0 var(--page-padding);

    .desc {
      font-size: 14px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.7);
    }

    .amount {
      display: flex;
      align-items: flex-end;
      line-height: 1;
      margin-top: 8px;

      .unit {
        font-size: 10px;
      }

      .interger {
        font-size: 34px;
        font-weight: bold;
        margin: 0 2px -2px;
      }

      .fraction {
        font-size: 16px;
        font-weight: bold;
      }
    }

  }
}








// @each $track, $value in map-remove($categories) {
//   ion-item-sliding[track='#{$track}'] ion-label {
//     border-left: 2px solid $value;
//     padding-left: 10px;
//   }
// }


