// ion-header {
//     overflow: hidden;
// }
ion-header ion-toolbar {
  --background: var(--ion-color-primary);
  overflow: hidden;
}

.menu {
  height: var(--header-height);
  width: var(--header-height);
  background: url(../../../../assets/imgs/menu.svg) center center no-repeat;
  background-size: 18px 18px;
}
.scan {
  height: var(--header-height);
  width: var(--header-height);
  background-image: url(../../../../assets/imgs/scan-white.svg) center center
    no-repeat !important;
  background-size: 18px 18px;
}

$headerHeight: 44px;
.header {
  background: var(--ion-color-primary);
  border-radius: 0px 0px 15px 15px;
  height: 200px;
  // padding-top: 44px;
  color: #fff;

  .title {
    display: flex;
    height: $headerHeight;

    // .menu,
    // .scan {
    //     height: var(--header-height);
    //     width: var(--header-height);
    //     background: url(../../../../assets/imgs/menu.svg) center center no-repeat;
    //     background-size: 18px 18px;
    // }

    .text {
      flex: 1;
      font-size: 17px;
      line-height: $headerHeight;
      text-align: center;
      margin: 0;
    }

    // .scan {
    //     background-image: url(../../../../assets/imgs/scan-white.svg);
    // }
  }

  .info {
    // margin-top: 18px;
    padding: 0 var(--page-padding);

    .desc {
      font-size: 14px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.7);
    }

    .amount {
      display: flex;
      align-items: flex-end;
      line-height: 1;
      margin-top: 8px;

      .unit {
        font-size: 10px;
      }

      .interger {
        font-size: 34px;
        font-weight: bold;
        margin: 0 2px -2px;
      }

      .fraction {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .wallet {
      display: flex;
      align-items: center;
      margin-top: 14px;

      .text {
        font-size: 14px;
        line-height: 16px;
      }

      .copy {
        margin-left: 8px;
        background: url(../../../../assets/imgs/copy-white.svg) center center
          no-repeat;
        width: 12px;
        height: 12px;
        background-size: contain;
      }
    }
  }
}

.btns {
  background: #ffffff;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 11%,
    rgba(255, 255, 255, 0.84) 83%
  );
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 64px;
  margin: 0 var(--page-padding);
  display: flex;
  margin-top: -32px;
  padding: 8px 0;

  .money {
    flex: 1;
    display: flex;
    font-size: 16px;
    color: #000000;
    line-height: 64px;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-right: 1px solid #e0e0e0;
    }

    .icon {
      background: url(../../../../assets/imgs/receive.svg) center center
        no-repeat;
      width: 36px;
      height: 36px;
      background-size: contain;
      margin-right: 6px;
    }

    &.transfer {
      .icon {
        background-image: url(../../../../assets/imgs/transfer.svg);
      }
    }
  }
}

.wallet-list {
  margin-top: 15px;
  padding: 0 var(--page-padding);

  .wallet {
    background: #ffffff;
    background-image: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0) 11%,
      rgba(255, 255, 255, 0.84) 83%
    );
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06),
      0 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 14px;
    display: flex;
    height: 90px;
    border-radius: 10px;
    padding: 0 12px;
    align-items: center;

    .icon {
      width: 48px;
      height: 48px;
      background: url(../../../../assets/imgs/cypherium-full-logo.svg) center
        center no-repeat;
      background-size: contain;
      margin-right: 8px;
    }

    .name {
      font-size: 22px;
      color: #000;
      font-weight: bold;
      line-height: 2;
      flex: 1;
    }

    .amount {
      text-align: right;

      .value {
        font-size: 22px;
        color: #000000;
        font-weight: bold;
      }

    }
  }
}

.select-wallet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--mask-color);

  .bg {
    width: 100%;
    height: 100%;
  }

  .wallet-wrapper {
    width: calc(100% - 2 * (var(--page-padding)));
    padding: 14px 20px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      display: flex;
      height: 44px;
      line-height: 44px;

      .label {
        font-size: 14px;
        color: var(--title-color);
        flex: 1;
      }

      .add {
        width: 44px;
        height: 44px;
        background: url(../../../../assets/imgs/add.svg) center center no-repeat;
        background-size: 22px 22px;
      }
    }

    .wallet-list {
      display: block;
      padding: 0;
    }
    .wallet-item {
      border-radius: 10px;
      color: var(--main-color);   
    }
    .wallet {
      margin-top: 10px;
      background: rgba(0, 176, 0, 0.1);
      border-radius: 10px;
      color: var(--main-color);
      padding-left: 12px;
      align-items: center;
      height: 64px;
      display: block;

      .wallet-name {
        padding-top: 12px;
        font-size: 14px;
        line-height: 20px;
      }

      .address {
        margin-top: 6px;
        font-size: 12px;
        line-height: 14px;
      }

      &.selected {
        background: var(--main-color);
        color: #fff;
      }
    }
  }
}

$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

// @each $track, $value in map-remove($categories) {
//   ion-item-sliding[track='#{$track}'] ion-label {
//     border-left: 2px solid $value;
//     padding-left: 10px;
//   }
// }

.wallet-label {
    border-left: 2px solid #f1f1f0;
    padding-left: 10px;
   }
