<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>
            {{ wallet.name }}
        </ion-title>
        <ion-buttons slot="end">

        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="wrapper">


        <div class="btns">
            <div class="money receive" (click)="goCphReceive()" tappable>
                <div class="icon"></div>
                <p class="text" translate>RECEIVE</p>
            </div>
        </div>


    </div>
</ion-content>

<app-my-tabs tab="wallet"></app-my-tabs>


<app-alert [title]="alertTitle" [desc]="alertDesc" *ngIf="ifShowAlert" cancelText="{{ 'CANCEL' | translate }}"
    (cancel)="cancelAlert()" confirmText="{{ 'CONFIRM' | translate }}" (confirm)="confirmAlert()">
</app-alert>

<app-generate-privatekey [needIndex] = "needIndex" *ngIf="ifShowPasswordPrompt" promptDesc="{{ 'INPUT_PASSWORD_TIPS' | translate }}"
    cancelText="{{ 'CANCEL' | translate }}" confirmText="{{ 'CONFIRM' | translate }}" (cancel)="cancelPrompt()"
    (confirm)="confirmPrompt($event)"></app-generate-privatekey>
