<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons> -->
        <ion-title>{{ 'YOURACCOUNT' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <!-- <div class="logo"></div> -->
        <!-- <div class="qrcode" [innerHTML]="qrcode">

        </div> -->
        <div class="Address">Address</div>
        <div class="address">
            <ion-content overflow-scroll='true'>
                <div class="selectable">{{ address }}</div>
            </ion-content>
        </div>

        <div class="Address">Private Key</div>
        <div class="privateKey">
            <ion-content overflow-scroll='true'>
                <div class="selectable">{{ privateKey }}</div>
            </ion-content>
        </div>
    </div>
</ion-content>


